/*grid.css*/
/*가이드 라인 화면에 그릴것*/

html{
background: #fff;

}

body{

    margin: 0;
    padding-top: 42px;
    height: 100vh;
    /*가이드라인 설계*/
    background: url("../leading21.png");
    /*글꼴.글자크기.글자색상.자간,어간.행간*/
    
    font-family: "nanumsquare", "Dotum", "sans-serif";
    font-size: 14px;
    color:#292929;
    letter-spacing:-0.02em; /*포토샵 설정 기준:-20 ->1000으로 나눈 후 em단위를 붙인다*/
    line-height: 1.5;

    /*속기형 속성 : 글꼴 글자크기 두께 기울기 글자변형 행간*/
    /*글자크기 , 글꼴; 필수*/
    font:14px/1.5 "nanumsquare", dotum. san-serif;
    /*font:두께 기울기 변형 글자크기/행간 글꼴; (옵션)*/
    /*font: bold italic small-cap 14px/1.5 "namumsquare", dotum, san-serif;*/


}

/*본문디자인*/
p {
margin-top: 0;
margin-bottom: 21px:/*1.5em*/;

/* 컨테이너 디자인 */
.container{
width:90%;
max-width:780px;

/*가운데 배치 : 남은 공간을 양분*/

margin-left: auto;
margin-right: auto;
}

}