body {
  margin: 0;
}

.banner {
  position:absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 320px;
  margin-top: -160px;
  margin-left: -400px;
  background: #222;
}

.banner .banner-apes,
.banner .banner-golliras,
.banner .banner-kingkong,
.banner .banner-logo,
.banner .banner-content,
.banner .banner-headline
{
    position:absolute;
}

.banner-kingkong {
    bottom: 0;
    z-index:1;
    right: 11px;
}

.banner-logo {
    top: 19px;
    left: 18px;
}
.banner-apes{

  top:170px;
  left:5px;
}

.banner-golliras {
  top:110px;
  left:10px;
}

.banner-headline {
  top:30px; 
  left:120px;
}
